__pycache__
*.pyc
*.swp
*.o
*.so
*.egg-info

*.debhelper
*.log
*.substvars
*-stamp
debian/files
debian/londiste
debian/python-*
debian/python3-*

.tox
.pybuild
.coverage
MANIFEST
build
tmp

dist

images/test/tests/simple/batches
images/test/tests/simple/conf
images/test/tests/simple/log
images/test/tests/simple/pid
repos
*.log
*.pid
.idea
